/*
 * Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
 */
package com.urnadigital;

import javax.swing.JOptionPane;
import java.util.ArrayList;
import java.util.List;

/**
 *
 * @author joaofranco
 */
public class UrnaDigital {

    public static List<Object> cadastrarCandidatos() {
        boolean continuar = true;
        List<Object> listaDosCandidatos = new ArrayList<>();

        do {
            String candidato = JOptionPane.showInputDialog(null, "Informe o nome do candidato:", "Cadastro de candidato", JOptionPane.PLAIN_MESSAGE);

            if (candidato != null && !candidato.isBlank()) {
                listaDosCandidatos.add(candidato);
                continuar = JOptionPane.showConfirmDialog(null, "Deseja cadastrar novo candidato?") == JOptionPane.YES_OPTION ? true : false;
            } else {
                JOptionPane.showMessageDialog(null, "Impossível iniciar uma eleição sem candidatos!\nPor favor, cadastrar pelo menos um concorrente antes de liberar o início da votação.");
            }

       
        } while (continuar);

        listaDosCandidatos.add("");
        listaDosCandidatos.add("NULO");

        return listaDosCandidatos;
    }

    public static Object votar(List<Object> candidatos) {
        return JOptionPane.showInputDialog(
                null, // componente pai
                "Informe o nome ou número do(a) candidato(a):", // pergunta
                "Voto", // título da caixa de diálogo
                JOptionPane.QUESTION_MESSAGE, // tipo de mensagem
                null, // ícone alternativo
                candidatos.toArray(), // vetor de opções predefinidas
                candidatos.toArray()[0] // opção selecionada por padrão                    
        );
    }

    public static double calcularPercentual(double total, double parte) {
        return (parte * 100) / total;
    }
    
    public static void exibirResultados(List<Object> candidatos, int[] numeroDeVotos) {
        int totalVotos = 0;
        int totalValidos = 0;

        for (int i : numeroDeVotos) {
            totalVotos += i;
        }
        
        for (int i = 0; i < candidatos.size(); i++) {
            if (!(candidatos.get(i).equals("BRANCO") || candidatos.get(i).equals("NULO"))) {
               totalValidos += numeroDeVotos[i];
            }
        }

        double percentualValidos = calcularPercentual(totalVotos, totalValidos);
        double[] percentualVotosValidosPorCandidato = new double[candidatos.size()];
        
        for (int i = 0; i < candidatos.size(); i++) {
            percentualVotosValidosPorCandidato[i] = calcularPercentual(totalValidos, numeroDeVotos[i]);
            if (!(candidatos.get(i).equals("BRANCO") || candidatos.get(i).equals("NULO"))) {
                System.out.println(candidatos.get(i) + " : " + numeroDeVotos[i] + " votos (" + percentualVotosValidosPorCandidato[i] + "%)");
            }
        }
        
        System.out.println("Total de votos: " + totalVotos);
        System.out.println("Total de votos válidos: " + totalValidos);
        System.out.println("Percentual de votos válidos: " + percentualValidos);

    }

    public static Object elegerVencedor(List<Object> candidatos, int[] numeroDeVotos) {
        int maiorNumeroDeVotos = Integer.MIN_VALUE;
        int posicao = -1;

        for (int i = 0; i < candidatos.size(); i++) {
            if (numeroDeVotos[i] > maiorNumeroDeVotos) {
                maiorNumeroDeVotos = numeroDeVotos[i];
                posicao = i;
            }
        }

        return candidatos.get(posicao);
    }

    public static void main(String[] args) {
        boolean continuar = true;
        List<Object> nomesDosCandidatos = cadastrarCandidatos();

        int[] numeroDeVotos = new int[nomesDosCandidatos.size()];

        do {
            Object voto = votar(nomesDosCandidatos);

            for (int i = 0; i < nomesDosCandidatos.size(); i++) {
                if (nomesDosCandidatos.get(i).equals(voto)) {
                    numeroDeVotos[i]++;
                }
            }

            int resposta = JOptionPane.showConfirmDialog(null, "Deseja registrar um novo voto?");
            if (resposta != JOptionPane.YES_OPTION) {
                continuar = false;
            }
        } while (continuar);

        exibirResultados(nomesDosCandidatos, numeroDeVotos);
    }
}
